/*@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700&display=swap');
@import url('https://fonts.googleapis.com');
@import url('https://fonts.gstatic.com')*/
:root {
    --primary: #fff;
    -light: #eee;
    --dark: #212121;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;    /*background-image: src('images/profpic.png');*/
    background-repeat: no-repeat;  /*background-attachment: fixed;*/
    background-color: #e3ba6a;
    font-family: 'Poppins', sans-serif;
}

.index {
    background-size: 50% 100%;
    background-color: #000102;
}

.container {
    max-width: 1280px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header {
    width: auto;
    height: 70px;
    border-bottom: solid 1px rgba(16, 16, 16, 0.1);
    font-family: 'Poppins', sans-serif;    /*background-color: #1a1a1a;*/

    /*new color*/

    background-color: #263045;
}

.container nav,
.container h1 {
    float: right;
    height: 100%;
    margin-top: 10px;
}

header .menu nav,
header nav h1 {
    float: right;
    height: 100%;
    margin-top: 10px;
    z-index: 99;
    position: fixed;
}

header nav li {
    display: table;
    height: 100%;
    float: left;
    margin-right: 30px;
}

header nav li:last-of-type {
    margin-right: 50;
}

header h1 {
    margin-left: 50px;
}

header nav a,
.container h1 a {
    color: #e3ba6a;    /*color: #bfa374;*/
    text-decoration: none;
}

/*My logo*/
header .container .logo:hover {
    color: #788B9F;
}

header nav .button {
    background-color: #bfa374;
    color: #263045;
    padding: 10px 20px;
    border-radius: 4px;
}

header nav .button:hover {
    filter: brightness(1.05);/*background-color: #0d47a1;*/
    background-color: #4d686f;
}

header nav a:hover,
.container a:hover {
    color: #e3ba6a;
}

header nav .categories:hover {
    transform: scale(1);
    transition: 0.5s;
    color: #788B9F;
}

/*Mobile config*/
.hamburger {
    appearance: none;
    outline: none;
    border: none;
    background: none;
    cursor: pointer;
    display: block;
    width: 4rem;
    z-index: 99;    /*height: 1rem;*/
}

.hamburger span {
    color: #e3ba6a;
    font-size: 50px;
}

.hamburger span:hover {
    color: #4d686f;
}

.mobile-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 98;    /*padding-top: 2rem;*/
    opacity: 0;
    transform: translateY(90%);
    background-color: #364461;
    color: #e3ba6a;
    transition: 0.3s;
}

.mobile-menu.is-open {
    opacity: 1;
    transform: translateY(70px);
}

.mobile-menu a {
    display: block;
    padding: 1rem;
    color: #e3ba6a;
    text-align: center;
    text-decoration: none;
    font-size: 1.25rem;
    transition: 0.3s;
}

.mobile-menu a:hover {
    background-color: #4d686f;/*color palette
    #e3ba6a
    #bfa374
    #6d756a
    #4d686f
    #364461
    */
}

@media(max-width:870px) {
    .mobile-menu,
    .hamburger {
        position: block;        /*z-index: 99;*/
    }

    .menu {
        display: none;
    }

    footer {
        position: initial;
        z-index: 99;
    }

}

@media (min-width:870px) {
    .mobile-menu,
    .hamburger {
        display: none;
    }

}

.auto_typed {
    color: #e3ba6a;
}

.all_caps {
    text-transform: uppercase;
    font-size: 25px;
    text-align: center;    /*display: block;*/
}

@media(max-width:888px) {
    .all_caps {
        text-transform: uppercase;
        font-size: 20px;
        text-align: left;    /*display: block;*/
    }

}

@media(min-width:1258px) {
    .all_caps {
        text-transform: uppercase;
        font-size: 50px;
        text-align: right;    /*display: block;*/
    }

}

/*Mobile config end*/
.presentation {

    /*background-color: #fffffa;*/
    margin: auto;  /*padding: 2rem;*/
    text-align: center;
}

.child_one {
    display: inline-block;  /*border: 1px solid;*/

    /*padding-right: 0.1rem;*/
    vertical-align: middle;
}

.child_two {
    display: inline-block;  /*border: 1px solid;*/
    padding: 1rem 0.5rem;
    text-align: justify-all;
    vertical-align: text-bottom;    /*new color*/
    color: #fff;
}

.child_two_index {
    display: inline-block;  /*border: 1px solid;*/
    padding: 1rem 0.5rem;
    margin-left: 550px;
    text-align: justify-all;
    vertical-align: text-bottom;    /*new color*/
    color: #fff;
}

@media (max-width:780px) {
    .child_two_index {
        display: inline-block;  /*border: 1px solid;*/
        padding: 1rem 0.5rem;
        margin: auto;
        text-align: justify-all;
        vertical-align: text-bottom;    /*new color*/
        color: #fff;
    }

}

.two_buttons_exp {
    margin-top: 30px;
}

.two_buttons i {

    /*background-color: blue;*/
    margin: 10 15px;
    padding: 8px;
}

/*main screen btns */
.btn_screen {

    /*background-color: #788B9F;*/

    /*background-color: transparent;*/
    background-color: #daa520;
    color: #fff;
    border: none;
    border-radius: 50px;
    padding: 15px 20px;
    margin: 0px 10px;
}

.btn_screen:hover {

    /*background-color: #788B9F;*/

    /*background-color: #daa520;*/
    background-color: #4d686f;/*background-color: #0d47a1;*/
    color: #fff;
    transition: 0.5s;
}

.btn_secondary {

    /*background-color: #101010;*/

    /*background-color: #ebcf98;*/

    background-color: transparent;   /*color: #788B9F;*/
    color: #fff;
    border-color: #daa520;    /*border: none;*/
    border-radius: 50px;
    padding: 15px 20px;
    justify-content: space-between;
}

.btn_secondary:hover {

    /*background-color: #daa520;*/
    background-color: #daa520;/*background-color: #0d47a1;*/
    color: #fff;
    transition: 0.5s;
}

/*----------------------------footer------------------------------------------*/
footer {
    margin-top: auto;
    font-family: 'Poppins';
    background-color: #364461;
    padding: 8px;
    color: #fff;
}

.footer-bottom {
    text-align: center
}

.footer_content {
    justify-content: space-evenly;
    display: flex;    /*max-width: auto;*/

    /*margin: auto;*/
}

.footer-bottom p {
    float: left;    /*padding-left: 135px;*/
    padding-top: 5px;
    display: block;
}

footer ul .social_icon_item {
    color: #000;
    align-items: center;
}

footer ul .social_icon_item:hover {
    background-color: #bfa374;
    border-radius: 50px;    /*transform: scale(1.0);*/
    transition: 0.5s;
}

.footer-menu ul {
    display: flex;
}

/*----------------------------footer------------------------------------------*/
header .social_icon_item {
    background-color: transparent;
    color: #000;
    padding: 7px;
    border-radius: 50px;
    transition: 0.5s;
}

header .social_icon_item:hover {
    filter: brightness(1.05);/*background-color: #0d47a1;*/
    background-color: #788B9F;
}

/*about page*/
.content-section {
    color: #364461;
    text-align: center;
    padding-top: 10px;
}

.title {
    font-size: 25px;    /*margin-bottom: 0.1rem;*/
}

.title::after {
    content: "";
    display: inline-flex;
    height: 0.5rem;
    width: 5rem;
    border-radius: 9999px;
    background-color: #fff
}

.title span {
    color: whitesmoke;
}

.sub_title {
    font-size: 20px;
    margin-top: 0.1rem;
}

.content h2 {
    color: #364461;
}

/*.name{
display: inline-block;
text-align: center;
}
*/
.profile_picture img {
    border-radius: 50%;
    width: 450px;
    height: 450px;
}

@media(max-width:768px) {
    .profile_picture {
        align-items: center;
    }

    .profile_picture img {
        border-radius: 50%;
        width: 100%;
        margin-left: 15px;
        align-self: center;    /*margin: auto;*/
        height: 400px;
    }

}


/*--------------------------------------about page--------------------------*/


.logo_picture img {
    border-radius: 50%;
    display: block;
    padding-top: 20px;
    margin-left: auto;
    margin-right: auto;  /*width: 50%;*/
}

.logo_picture img:hover {
    border-radius: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;  /*transform: translateY(100px);*/
    transform: rotate3d(1, 0, 1, 360deg) matrix3d(1, 0, 0, 0, 0, 1, 6, 0, 0, 0, 1, 0, 5, 3, 0, 1.1);
    transition: 3s;
}

.child_one_about {
    display: inline-block;  /*border: 1px solid;*/
    padding-right: 2rem;
    font-size: 0;
    vertical-align: middle;
}

.child_two_about {
    display: inline-block;/*margin: 50px;*/

    /*border: 1px solid;*/

    /*padding-right: 155 rem;*/
    border-spacing: 10px;  /*text-align: justify-all; */
    vertical-align: middle;
    text-align: justify-all;
}

.child_two_about_sec {
    display: inline-block;  /*border: 1px solid;*/
    padding: 1rem 0.5rem;  /*text-align: justify-all; */
    vertical-align: top;
    text-align: center;
}




.emoji {
    font-size: 40px;
}

/*-----------------------------------About resume------------------------------------*/

/*.resume_columns{
  box-sizing: border-box;
}
*/
.table_items {
    align-items: center;
}

.table_items table,
th {
    text-align: left;
    height: 15px;
    padding: 5px;
    vertical-align: bottom;
}

.presentation_two {

    /*background-color: #fffffa;*/
    margin: auto;
    padding: 2rem;
    text-align: center;
}

.btn_screen_info {
    background-color: #364461;    /*background-color: transparent;*/
    display: inline-block;    /*background-color: transparent;*/
    color: whitesmoke;
    border-color: #000;
    border-radius: 50px;
    padding: 15px 20px;
    margin: 10px;
}

.date {
    color: #bfa374;
    font-size: 25px;
    text-align: center;
}



/*------------------------------contact page------------------------------------*/


.field_name_email {
    background-color: #daa520;
    color: #fff;
    border: none;
    border-radius: 10px;
    padding: 5px;
    margin: 10px;
}

input:focus {
    outline: none;
}

textarea:focus,
input:focus {
    outline: none;
}

@media(max-width:768px) {
    #comment {
        background-color: transparent;
        border: none;
        width: 400px;
        height: 150px;
    }

}

.child {
    display: inline-block;
    padding: 1rem;    /*vertical-align: middle;*/
}

@media(max-width:768px) {
    .child {
        display: flex;
        padding: 1rem;
        align-self: start;    /*vertical-align: middle;*/
    }

}

.prefix {
    padding-right: 10px;
}

.field_name_email input {
    background-color: transparent;
    border: none;
    margin-right: 10px;
    color: #fff;
}

::placeholder {
    color: whitesmoke;
    text-align: center;
}


.form-control {
    background-color: transparent;
    border: none;
    color: white;
}







/*-------------------------end of contact page----------------------------*/
/*-------------------projects page-----------------*/
.grid,
.grid2 {
    display: grid;
    padding: 5px 105px 25px 40px;
    grid-gap: 35px;
    width: 90%;
    margin: auto;
}

.grid img,
.grid2 img {
    width: 100%;    /*max-width: 100%;*/
    height: 230px;
    align-self: center;
    margin-bottom: 10px;       /*border-radius: 20%;  */

    /*background-color: blueviolet;*/
    overflow:;
}

@media (min-width:708px) {
    .grid,
    .grid2 {
        grid-template-columns: repeat(2, 1fr);
    }

}

@media (min-width:1208px) {
    .grid,
    .grid2 {
        display: grid;
        grid-gap: 50px;
        grid-template-columns: repeat(3, 1fr);
    }

}

.project_title {
    margin-bottom: 10px;
    text-align: justify;
    color: #bfa374;
}

.project_subtitle {
    margin-bottom: 10px;
    text-align: justify;    /*color: #bfa374;*/
}

.col {
    background-color: #bfa374;    /*padding: auto 25px;*/
    margin: auto 0px;        /*align-self: start;*/
    */
}

.col:hover {
    color: whitesmoke;
    transform: scale(1.1);       /*transition: 0.2s;  */

    /*transform: translateY(10px);      */
}

/*--------test project----------*/

/*Projectos */

.cards-project {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 15px;
    margin-top: 20px;
    width: 343px;
    height: 400px;
    border-radius: 8px;
    border: 1px solid #171717;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    transition: 0.3s ease;
    background-color: #364461;
    color: #fafafa;
    text-decoration: none;
}

.cards-project:hover {
    color: #bfa374;
}

.cards-project img {
    background-size: contain;
    background-repeat: no-repeat;
    max-width: 100%;
    min-height: 55%;
    object-fit: cover;
    border-radius: 6px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.btns-project {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    margin: 10px;
}

.btns-project a {
    padding: 10px;    /*margin-top: 10px;*/
    outline: none;
    font-size: 0.8rem;
    font-weight: 500;
    border-radius: 8px;
    text-decoration: none;
}

.github-repo {
    background-color: #e3ba6a;
    border: 1px solid #FFD700;
    color: #fff;
}

.github-repo:hover {
    background-color: #364461;
    border: 1px solid #FFD700;
    color: #fff;
}

.view-live {
    border: 1px solid #e3ba6a;
    color: #fafafa;
    margin: 0px;
    align-items: center;
}

.view-live:hover {
    background-color: #e3ba6a;
}

/*---------------show more btn-------------------------*/
.show-more {
    margin: 0 30px 15px auto;   
    border-radius: 6px;
    border: none; /*align-self: center;*/
    /*vertical-align: middle;*/
    font-size: 1rem;
    cursor: pointer;
    font-weight: 550;    /*background-color: #fff;*/
    /*color: #e3ba6a;*/
    color: #364461;
    outline: none;
}

.bounce {
    -moz-animation: bounce 1s infinite;
    -webkit-animation: bounce 2s infinite;
    animation: bounce 1.5s infinite;
}

@keyframes bounce {
    0%,
    20%,
    50%,
    80%,
    100% {
        transform: translateY(0);
    }

    40% {
        transform: translateY(-5px);
    }

    60% {
        transform: translateY(0px);
    }

    80% {
        transform: translateY(-5px);
    }

}

/*Projects*/

/*--------test project----------*/

/*-------------------articles page------------------------------*/
.profile_picture_article img {
    border-radius: 50%;    /*align-items:flex-end;*/
    width: 250px;
    height: 250px;
}

.grid_articles {
    display: grid;
    padding-left: 50px;
    grid-gap: 20px;
    width: 90%;
    margin: auto;
}

.grid_articles img {
    width: 100%;    /*max-width: 100%;*/
    height: 230px;
    align-self: center;
    margin-bottom: 10px;       /*border-radius: 20%;  */
    background-color: blueviolet;
}

.cards-article {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 15px;
    width: 343px;
    height: 410px;
    border-radius: 8px;    /*border: 1px solid #171717;*/
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    transition: 0.3s ease;
    background-color: #364461;
    color: #fafafa;
    text-decoration: none;
}

@media (min-width:768px) {
    .grid_articles {
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 10px;
        margin-left: 50px;
    }

}

@media (min-width:1260px) {
    .grid_articles {
        display: grid;
        grid-gap: 100px;
        grid-template-columns: repeat(3, 1fr);
    }

}

/* THE CARD HOLDS THE FRONT AND BACK FACES */
.thecard {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    transform-style: preserve-3d;
    transition: all 0.8s ease;
}

/* THE PSUEDO CLASS CONTROLS THE FLIP ON MOUSEOVER AND MOUSEOUT */

/* THE FRONT FACE OF THE CARD, WHICH SHOWS BY DEFAULT */
.thefront {
    align-items: center;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    backface-visibility: hidden;
    color: #000;     /*transform: rotateY(0deg);*/
}

/* THE BACK FACE OF THE CARD, WHICH SHOWS ON MOUSEOVER */
.theback {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    backface-visibility: hidden;  /*overflow: hidden;*/

    /*background: #fafafa;*/
    color: #333;
    text-align: center;
    transform: rotateY(180deg);
}

.thecard:hover,
.theback:hover {
    transform: rotateY(180deg);
}

.btns-article {
    display: flex;
    width: 100%;
    justify-content: space-evenly;    /*margin: 10px;*/
}

.btns-article a {
    padding: 10px;    /*margin-top: 10px;*/
    outline: none;
    font-size: 0.8rem;
    font-weight: 500;
    border-radius: 8px;
    text-decoration: none;
}

.view-article {
    border: 1px solid #e3ba6a;
    color: #fafafa;
    margin: 0px;
    align-items: center;
}

.articles_links {
    text-align: left;
    padding-bottom: 50px;
}

.articles_links li {
    margin-left: 10px;
    text-decoration: none;
}

.articles_links a {
    color: #fafafa;
    text-decoration: none;
}

.articles_links a:hover {
    color: #bfa374;
}

/*color palette
#e3ba6a
#bfa374
#6d756a
#4d686f
#364461
*/

/* The flip card container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
.flip-card {
    background-color: transparent;
    width: 300px;
    height: 450px;  /*border: 1px solid #f1f1f1;*/

    /*perspective: 1000px;  Remove this if you don't want the 3D effect */
}

/* This container is needed to position the front and back side */
.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 2s;
    transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front,
.flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
}

/* Style the back side */
.flip-card-back {
    transform: rotateY(180deg);
}
